.header {
	position: relative;
	width: 100%;
	max-width: 1358px;
	margin: auto;
	text-align: center;
}

.image {
	width: 100%;
	max-width: 1358px;
	background-color: #365165;
	min-height: 60px;
	margin: 0 auto;
}

	.image img {
		width: 100%;
		vertical-align: bottom;
	}

.rating_menu {
	width: 100%;
	max-width: 1358px;
	background-color: #7894bc;
	min-height: 45px;
	margin: 0 auto;
	margin-bottom: 70px;
	box-shadow: 0px 9px 16px -5px grey;
}

	.header_menu ul,
	.rating_menu ul {
		padding: 0;
		list-style: none;
		margin: 0 auto;
		position: relative;
	}

	.rating_menu ul {
		text-align: center;
		max-width: 830px;
	}

		.header_menu ul li,
		.rating_menu ul li {
			display: inline-block;
			text-transform: uppercase;
			margin-right: 20px;
			margin-left: 17px;
		}

.header_menu ul li {
	margin-top: 5px;
}

	.header_menu ul li a,
	.rating_menu ul li a {
		display: inline-block;
		font-family: 'PT Sans Bold', 'PT Sans';
		font-weight: 700;
		font-style: normal;
		font-size: 13px;
		color: #FFFFFF;
		text-decoration: none;
		padding: 15px 0;
	}

.main {
	position: relative;
	max-width: 830px;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 0 15px;
}

	.main h1 {
		color: #9BA6B3;
	}

.main_info {
	margin-bottom: 60px;
	margin-top: 30px;
	font-size: 15px;
	color: #282828;
	line-height: 30px;
}

table {
	border-spacing: 0;
	border-collapse: separate;
}

	table.rating {
		table-layout: fixed;
		margin: auto;
		line-height: 25px;
		font-size: 14px;
		width: 100%;
	}

.rating-tab {
	display: none;
}

table.rating-tab.active {
	display: table;
}

.rating-cell {
	background-color: #f0f5ee;
	height: 55px;
}

.rating-choose {
	height: 30px;
	width: 30px;
	vertical-align: bottom;
	cursor: pointer;
}

.rating-cell a {
	text-decoration: none;
	color: #787878;
}

.rating-cell_left {
	text-align: left;
	padding-left: 35px;
}

.rating-title {
	padding: 0 10px;
	font-weight: bold;
}

.rating-cell_select {
	padding: 10px 0;
	background-color: #fdfff1;
	text-align: center;
}

a.active .rating-cell_select__item::after {
	content: '';
	position: absolute;
	top: 127%;
	left: 29%;
	border: 11px solid transparent;
	border-top: 12px solid #fdfff1;
}

.rating-pitem a::after:active {
	display: none;
}

.rating-cell_select a {
	color: #787878;
	text-decoration: none;
}

.rating-cell_select__item {
	border-right: 1px solid #d6d6d4;
	padding: 10px 0 10px 20px;
	position: relative;
}

.rating-cell_select:active {
	text-decoration: none;
}

.rating-cell_select__item__last {
	border: none;
}

.rating-cell_info {
	background-color: #f0f8fa;
}

.rating-cell_left__info {
	background-color: #f0f8fa;
	width: 10%;
}

.rating-info {
	margin-right: 90px;
}

table tbody td:first-child {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

table tbody tr td:last-child {
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

table tbody tr:first-child td:first-child {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

table tbody th {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

table thead tr td:last-child {
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

table thead tr td:first-child {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.rating-cell-choose {
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

.rating-pitem1 {
	display: none;
}

.modal-window {
	width: 360px;
	height: 250px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -180px;
	box-shadow: 0 0 5px 3px #d3d3d3;
	border-radius: 10px;
	background-color: #fff;
}

	.modal-window.show {
		display: block;
	}

.modal-window_title {
	background-color: #e5e6e6;
	width: 100%;
	box-shadow: 0 5px 7px 1px #d3d3d3;
	text-align: center;
	padding: 20px 0;
	border-radius: 10px 10px 0 0;
}

.modal-window_content {
	padding: 30px;
	font-size: 0;
}

.checkbox {
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: 14px;
}

	.checkbox label {
		cursor: pointer;
		padding-left: 20px;
	}

		.checkbox label:after {
			opacity: 0;
			content: '';
			position: absolute;
			width: 9px;
			height: 5px;
			background: transparent;
			top: 3px;
			left: 4px;
			border: 3px solid #333;
			border-top: none;
			border-right: none;
			transform: rotate(-45deg);
		}

		.checkbox label:before {
			content: '';
			position: absolute;
			width: 17px;
			height: 17px;
			left: 0;
			top: 0;
			border: 1px solid #000;
		}

		.checkbox label:hover::after {
			opacity: 0.5;
		}

	.checkbox input[type=radio]:checked + label:after {
		opacity: 1;
	}

input[type=radio] {
	visibility: hidden;
}

.button-wrap {
	text-align: center;
	margin-top: 10px;
}

.button-item {
	padding: 15px 30px;
	background-color: #f0f5ee;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	color: #828282;
	font-weight: 600;
	box-shadow: 0 0 3px 2px #d3d3d3;
	cursor: pointer;
}

	.button-item:focus {
		outline: none;
	}

.hidden {
	display: none;
}

.button {
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-image: none;
	background: transparent;
	background-color: transparent;
	cursor: pointer;
	margin-top: 10px;
	font-family: 'PT Sans', serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 25px;
}

	.button:focus {
		outline: none;
		color: #c2d0e1;
	}

.wrap {
	width: 100%;
	max-width: 830px;
}

.tableall-wrap {
	max-width: 100%;
	overflow: auto;
}
