@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v8-latin_cyrillic-regular.eot");
  src: local("PT Sans"), local("PTSans-Regular"),
    url("fonts/pt-sans-v8-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/pt-sans-v8-latin_cyrillic-regular.woff2") format("woff2"),
    url("fonts/pt-sans-v8-latin_cyrillic-regular.woff") format("woff"),
    url("fonts/pt-sans-v8-latin_cyrillic-regular.ttf") format("truetype"),
    url("fonts/pt-sans-v8-latin_cyrillic-regular.svg#PTSans") format("svg");
}
@font-face {
  font-family: "RobotoBold";
  src: url("fonts/RobotoBold/RobotoBold.eot");
  src: url("fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  color: #000;
  margin: 0;
}

/* Хэдер */

.header_menu-item ul li.menu_icon a {
  width: 80px;
  height: 50px;
  position: relative;
  text-decoration: none;
}
.header_menu-item ul li.menu_icon a span {
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: block;
  position: absolute;
  top: 23px;
  left: 34px;
  right: 13px;
  height: 3px;
  background-color: #fff;
}
.header_menu-item ul li.menu_icon a span:before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  top: -10px;
}
.header_menu-item ul li.menu_icon a span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  bottom: -10px;
}

.header {
  position: relative;
  margin: auto;
  text-align: center;
  margin: auto;
  text-align: center;
  height: 50px;
  margin-top: 20px;
}
.header_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  max-width: 1300px;
  background-color: #365165;
  min-height: 50px;
  margin: 0 auto;
  height: 50px;
}
.header_menu-item {
  max-width: 1000px;
  margin: 0 auto;
}
.header_menu.active #menu_icon span {
  transform: rotate(-90deg);
}
.header_menu-item ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.header_menu-item ul .main-logo {
  position: absolute;
  top: 12px;
  left: 10px;
  background: url(image/logo_mini.png);
  width: 40px;
  height: 50px;
}
.header_menu-item ul li {
  display: inline-flex;
  text-transform: uppercase;
}
.header_menu-item ul li a {
  font-weight: 700;
  font-size: 13px;
  font-family: "RobotoBold";
  color: #fff;
  text-decoration: none;
  padding: 16px 0;
}
.header_menu-item ul li.center {
  margin-right: 10px;
  margin-left: 15px;
}
.header_menu-item ul li.center:first-child {
  margin-left: 6%;
}
.header_menu-item ul li.right:nth-child(6) {
  margin-left: 10%;
}
.header-mobile {
  display: none;
}
.header_menu.active .dop_menu {
  display: block;
}
.header_menu .dop_menu {
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-color: #365165;
  display: none;
  margin-top: -1px;
}
.header_menu .dop_menu ul {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.header_menu .dop_menu ul li {
  display: inline-flex;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 15px;
}
.header_menu .dop_menu ul li a {
  font-weight: 700;
  font-size: 13px;
  font-family: "RobotoBold";
  color: #fff;
  text-decoration: none;
  padding: 16px 0;
}
.menu-check {
  display: none;
}

/* Мэйн */
.main {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
h3 {
  font-family: "PT Sans Bold", "PT Sans";
  font-weight: 700;
  font-style: normal;
  color: #666665;
  margin: 0 0 20px 0;
  font-size: 24px;
  display: inline-block;
}
.button:focus {
  outline: none;
}
.container {
  width: 100%;
  max-width: 964px;
  margin: auto;
  padding-top: 50px;
  font-size: 0;
  position: relative;
  margin-bottom: 50px;
}
.container img {
  width: 75px;
  height: 75px;
}
.content {
  display: inline-block;
}
.soc {
  color: #000;
  font-size: 16px;
}
.soc i {
  vertical-align: middle;
  margin-right: 20px;
  width: 18px;
  height: 18px;
  background: url(image/icons.png);
  display: inline-block;
}
i.email {
  background-position: -376px -49px;
}
i.tel {
  background-position: -329px -45px;
}
i.skype {
  background-position: -352px -45px;
}
i.star {
  background-position: -119px -44px;
  width: 24px;
  height: 24px;
}
.fio {
  width: 100px;
  margin-left: 30px;
  margin-right: 150px;
  color: #43545c;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.about {
  color: #43545c;
  font-size: 16px;
  margin-top: 40px;
}
.license {
  width: 100%;
  max-width: 964px;
  margin: auto;
  position: relative;
}
.subsurface {
  position: relative;
  text-align: left;
  padding: 0 0 1px 0;
  background: #fff;
  margin-bottom: 18px;
  margin-left: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 7px -2px;
  min-height: 70px;
  z-index: 2;
  width: 100%;
  max-width: 964px;
}
.subsurface > div {
  padding-left: 40px;
  position: relative;
  min-height: 71px;
}
.subsurface > div > a.bold {
  vertical-align: middle;
  font-weight: 400;
  color: #3a3d4e;
  width: 31%;
  box-sizing: border-box;
  padding-right: 35px;
  font-size: 14px;
  max-width: 297px;
  line-height: 1.7;
}
.subsurface > div > a {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  text-decoration: none;
  width: 15%;
  font-size: 13px;
  box-sizing: border-box;
  padding-right: 11px;
  line-height: 1.7;
  word-wrap: break-word;
}
.subsurface > div > span {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  width: 20%;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 13px;
  line-height: 1.5;
  color: #333;
}
.subsurface > div > span.separator {
  position: absolute;
  left: 67%;
  top: 0;
  bottom: 0;
  width: 0;
  border-right: solid 2px #ebebeb;
  margin-right: 15px;
  height: auto;
}
.subsurface > div > span.separator:after {
  content: "";
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -9px;
  width: 14px;
  height: 14px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  border-top: solid 2px #ebebeb;
  border-left: solid 2px #ebebeb;
}
.subsurface > div > div {
  display: inline-block;
  vertical-align: bottom;
  width: 28%;
  padding-left: 4%;
  padding-top: 18px;
}
.subsurface > div > div.two.license > .blue {
  width: 42%;
  display: inline-block;
}
.subsurface > div > div.two > .blue > b {
  font-size: 14px;
}
.subsurface > div > div.two.license > .blue {
  width: 42%;
}
.integration {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 30px 0 30px 10px;
  position: relative;
  margin-top: 100px;
}
.integration .container {
  padding: 0;
}
label {
  display: inline-block;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  width: 20%;
  vertical-align: top;
  margin-right: 6%;
}
.social {
  display: inline-block;
}
.social button {
  display: block;
  float: left;
  text-decoration: none;
  opacity: 0.95;
  padding: 0;
  cursor: pointer;
  margin-right: 20px;
  background: none;
  border: none;
}
.social button i {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}
.social button i:before {
  content: "";
  background-image: url(image/auth-icons.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-position: -17px -75px;
  width: 90px;
  height: 16px;
  margin-left: -45px;
  margin-top: -8px;
}
.social button i.vk {
  background-color: #507299;
}
.social button i.ok {
  background-color: #fa8d11;
}
.social button i.fb {
  background-color: #4867aa;
}
.social button i.ml {
  background-color: #168de2;
}
.social button i.gpl {
  background-color: #dc4c41;
}
.social button i.tw {
  background-color: #1da1f2;
}
.social button i.gu {
  background-color: #1d6194;
  clear: both;
  width: 90px;
}
.social button i.vk:before {
  background-position: -4px -319px;
  width: 32px;
  height: 19px;
  margin-left: -16px;
  margin-top: -10px;
}
.social button i.ok:before {
  background-position: -130px -315px;
  width: 20px;
  height: 30px;
  margin-left: -10px;
  margin-top: -15px;
}
.social button i.fb:before {
  background-position: -71px -315px;
  width: 18px;
  height: 30px;
  margin-left: -9px;
  margin-top: -15px;
}
.social button i.ml:before {
  background-position: -185px -315px;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
}
.social button i.gpl:before {
  background-position: -35px -319px;
  width: 33px;
  height: 20px;
  margin-left: -16px;
  margin-top: -10px;
}
.social button i.tw:before {
  background-position: -95px -317px;
  width: 33px;
  height: 25px;
  margin-left: -16px;
  margin-top: -12px;
}
.social button i.gu:before {
  background-position: -81px -349px;
  width: 110px;
}
/* Футер */
.footer {
  height: 270px;
  background-color: #263948;
}
.footer_item {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.footer_item ul {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
}
.footer_item ul li {
  padding: 7px 0;
}
.footer_item ul li a {
  font-size: 14px;
  font-family: "RobotoBold";
  color: #fff;
  text-decoration: none;
  padding-top: 16px 0;
}
.footer_item ul .li-text-color a {
  color: #00ffff;
  text-decoration: none;
}
.footer_item ul li.copyright {
  color: #999999;
  padding-top: 30px;
}
.footer_item-column-4 {
  border-left: 1px solid #999995;
  color: #999995;
  padding-left: 20px;
}
.footer_item-column-4 p {
  margin: 0;
  margin-bottom: 10px;
}
.footer_item-column-1::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 38px;
  background: url(image/logo_mini.png);
  width: 40px;
  height: 50px;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 13px 0px 0 9px;
  display: inline-block;
  margin-right: 6%;
  font-family: "RobotoBold";
}
.footer-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Хэдер моб */
  .header_menu {
    display: none;
  }
  .header-mobile {
    display: block;
    background-color: #202f60;
    height: 50px;
    width: 100%;
  }
  .header {
    height: 250px;
  }
  .header-mobile
    .menu-check:checked
    + .header-mobile_panel
    .header-mobile_panel-burger
    span {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header-mobile
    .menu-check:checked
    + .header-mobile_panel
    .header-mobile_panel-burger
    span:before {
    top: -7px;
    -webkit-transform: translateX(19px) translateY(2px) rotate(45deg);
    transform: translateX(19px) translateY(2px) rotate(45deg);
    width: 50%;
  }
  .header-mobile
    .menu-check:checked
    + .header-mobile_panel
    .header-mobile_panel-burger
    span:after {
    bottom: -7px;
    -webkit-transform: translateX(19px) translateY(-2px) rotate(-45deg);
    transform: translateX(19px) translateY(-2px) rotate(-45deg);
    width: 50%;
  }
  .header-mobile .menu-check:checked ~ .header-mobile_menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin: 0;
  }
  .header-mobile_panel {
    display: flex;
    justify-content: space-between;
  }
  .header-mobile_panel::after {
    content: "";
    display: table;
    clear: both;
  }
  .header-mobile_panel-burger {
    width: 80px;
    height: 50px;
    position: relative;
    cursor: pointer;
  }
  .header-mobile_panel-burger span {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    display: block;
    position: absolute;
    top: 23px;
    left: 34px;
    right: 13px;
    height: 3px;
    background-color: #ff1550;
  }
  .header-mobile_panel-burger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff1550;
    content: "";
    top: -10px;
  }
  .header-mobile_panel-burger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff1550;
    content: "";
    bottom: -10px;
  }
  .header-mobile_panel-title {
    font-weight: 700;
    height: 50px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .header-mobile_panel-title p {
    margin: 15px 0;
  }
  .header-mobile_panel-btn {
    width: 80px;
    height: 50px;
    background-image: url(image/mobile-btn.png);
    background-repeat: no-repeat;
    background-position: 21px 7px;
    background-size: 30px;
  }
  .header-mobile_menu {
    position: absolute;
    margin-top: 1px;
    background-color: #202f60;
    width: 100%;
    height: 610px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 8;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .header-mobile_menu-item {
    width: 158px;
    font-size: 18px;
    margin: auto;
  }
  .header-mobile_menu-item-info-logo {
    padding-top: 20px;
  }
  .header-mobile_menu-item-info-logo a {
    height: 200px;
    background: url(image/logo_0.png) no-repeat;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 160px;
    background-size: 100%;
    box-sizing: border-box;
    padding: 68px 40px 0;
    font-size: 22px;
    line-height: 1.25;
    text-align: left;
  }
  .header-mobile_menu-item .main-menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  .header-mobile_menu-item .main-menu_list a {
    color: #fff;
    text-decoration: none;
  }
  .header-mobile_menu-item .main-menu li.main-menu_list {
    padding-top: 20px;
    cursor: pointer;
  }
  .header-mobile_menu-item .main-menu li.main-menu_list:first-child {
    padding-top: 0;
  }
  .header-mobile_menu-item .main-menu li.main-menu_list:last-child {
    padding-bottom: 20px;
  }
  .header-mobile_menu-item .register-menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border-top: 2px solid #fff;
  }
  .header-mobile_menu-item .register-menu_list a {
    text-decoration: none;
    color: #00ffff;
  }
  .header-mobile_menu-item .register-menu li.register-menu_list {
    padding-top: 20px;
    cursor: pointer;
  }
  /* Мэйн моб */
  .container {
    padding: 0 10px;
  }
  .main-menu-jpg {
    display: none;
  }
  .main-menu-jpg-mobile {
    display: block;
    margin: auto;
  }
  h1 {
    padding-left: 0;
    padding-top: 150px;
    font-size: 40px;
    text-align: center;
  }
  .container-1,
  .container-2 {
    display: block;
    width: 100%;
  }
  .amChartsLegend {
    position: relative;
    left: -10px !important;
    top: 5px !important;
  }

  /* Футер моб */
  .footer {
    display: none;
  }
  .footer-mobile {
    display: block;
    height: 550px;
    background-color: #263948;
  }
  .footer-mobile_item {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
  }
  .footer-mobile_item ul {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
  }
  .footer-mobile_item ul li {
    padding: 7px 0;
  }
  .footer-mobile_item ul li a {
    font-size: 14px;
    font-family: "RobotoBold";
    color: #fff;
    text-decoration: none;
    padding-top: 16px 0;
  }
  .footer-mobile_item ul .li-text-color a {
    color: #00ffff;
    text-decoration: none;
  }
  .footer-mobile_item ul li.copyright {
    color: #999999;
    padding-top: 30px;
  }
  .footer-mobile_item-end {
    color: #999995;
    padding-left: 45px;
    padding-top: 15px;
  }
  .footer-mobile_item-end p {
    margin: 0;
    margin-bottom: 10px;
  }
  .footer-mobile_item-column-2 {
    padding-left: 0;
    padding-right: 16px;
  }
  .footer-mobile_item-column-1::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 38px;
    background: url(image/logo_mini.png);
    width: 40px;
    height: 50px;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 13px 0px 0 9px;
    display: inline-block;
    margin-right: 6%;
    font-family: "RobotoBold";
  }
}
